@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
  }
}

@layer components {
  .filter-gray {
    filter: invert(27%) sepia(7%) saturate(1380%) hue-rotate(190deg) brightness(91%) contrast(87%);
  }

  .dialog::after {
    left: 50%;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.625rem;
    border-color: hsl(217, 19%, 35%) transparent transparent transparent;
    top: 100%;
  }
}
